*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    cursor: none;
    background-color: black;
}
#cursorOutline{
    width: 30px;
    height: 30px;
    border:2px solid white
}
#cursorDot{
    width: 10px;
    height: 10px;
    background-color: white;
}
#cursorOutline,#cursorDot{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}